<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BaseServlet</servlet-name>
        <servlet-class>Controller_Base.BaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller_Base.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller_Base.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Controller_Base.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetProductIDServlet</servlet-name>
        <servlet-class>Controller_SetFormNumber.SetProductIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchItemServlet</servlet-name>
        <servlet-class>Controller_Json.SearchItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetItemServlet</servlet-name>
        <servlet-class>Controller_Json.SetItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSPONumberServlet</servlet-name>
        <servlet-class>Controller_SetFormNumber.SetSPONumberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSubconNumberServlet</servlet-name>
        <servlet-class>Controller_SetFormNumber.SetSubconNumberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetConsumptionNumberServlet</servlet-name>
        <servlet-class>Controller_SetFormNumber.SetConsumptionNumberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFabricItemServlet</servlet-name>
        <servlet-class>Controller_Json.SearchFabricItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetFabricServlet</servlet-name>
        <servlet-class>Controller_Json.SetFabricServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>Controller_Json.SearchProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductsSubconServlet</servlet-name>
        <servlet-class>Controller_Json.SearchProductsSubconServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeProductServlet</servlet-name>
        <servlet-class>Controller_Encode.EncodeProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeConsumptionReportServlet</servlet-name>
        <servlet-class>Controller_Encode.EncodeConsumptionReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSupplierServlet</servlet-name>
        <servlet-class>Controller_Json.SearchSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchItemSupplierServlet</servlet-name>
        <servlet-class>Controller_Json.SearchItemSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSupplierItemServlet</servlet-name>
        <servlet-class>Controller_Json.SetSupplierItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeSupplierPurchaseOrderServlet</servlet-name>
        <servlet-class>Controller_Encode.EncodeSupplierPurchaseOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveSupplierPurchaseOrderServlet</servlet-name>
        <servlet-class>Controller_Approve.ApproveSupplierPurchaseOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveSubconPurchaseOrderServlet</servlet-name>
        <servlet-class>Controller_Approve.ApproveSubconPurchaseOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetApprovalSupplierPO</servlet-name>
        <servlet-class>Controller_Json.SetApprovalSupplierPO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveRejectSPOServlet</servlet-name>
        <servlet-class>Controller_Approve.ApproveRejectSPOServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSupplierReceivingServlet</servlet-name>
        <servlet-class>Controller_Json.SetSupplierReceivingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSupplierSpecificReceivingServlet</servlet-name>
        <servlet-class>Controller_Json.SetSupplierSpecificReceivingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeSupplierDRServlet</servlet-name>
        <servlet-class>Controller_Encode.EncodeSupplierDRServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSubconPOSpecificSerlvet</servlet-name>
        <servlet-class>Controller_Json.SetSubconPOSpecificSerlvet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSubconPOReceivingServlet</servlet-name>
        <servlet-class>Controller_Json.SetSubconPOReceivingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAccessoriesInventoryServlet</servlet-name>
        <servlet-class>Controller_View.ViewAccessoriesInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductionInventoryServlet</servlet-name>
        <servlet-class>Controller_View.ViewProductionInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewWarehouseInventoryServlet</servlet-name>
        <servlet-class>Controller_View.ViewWarehouseInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetInventoryReportServlet</servlet-name>
        <servlet-class>Controller_Json.SetInventoryReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewConsumptionReportServlet</servlet-name>
        <servlet-class>Controller_View.ViewConsumptionReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSupplierPurchaseOrderServlet</servlet-name>
        <servlet-class>Controller_View.ViewSupplierPurchaseOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateCuttingReportServlet</servlet-name>
        <servlet-class>Controller_Generate.GenerateCuttingReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintConsumptionReport</servlet-name>
        <servlet-class>Controller_Print.PrintConsumptionReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewInventoryReportServlet</servlet-name>
        <servlet-class>Controller_View.ViewInventoryReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReplenishmentServlet</servlet-name>
        <servlet-class>Controller_View.ViewReplenishmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDeliveryInvoiceServlet</servlet-name>
        <servlet-class>Controller_View.ViewDeliveryInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeInventoryReportServlet</servlet-name>
        <servlet-class>Controller_Encode.EncodeInventoryReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeReplenishmentRequestServlet</servlet-name>
        <servlet-class>Controller_Encode.EncodeReplenishmentRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeDeliveryInvoiceServlet</servlet-name>
        <servlet-class>Controller_Encode.EncodeDeliveryInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveDeliveryInvoiceSerlvet</servlet-name>
        <servlet-class>Controller_Approve.ApproveDeliveryInvoiceSerlvet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSubconPurchaseOrderServlet</servlet-name>
        <servlet-class>Controller_View.ViewSubconPurchaseOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Account</servlet-name>
        <servlet-class>Controller_Base.Account</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSubconServlet</servlet-name>
        <servlet-class>Controller_Json.SearchSubconServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeSubconPurchaseOrderServlet</servlet-name>
        <servlet-class>Controller_Encode.EncodeSubconPurchaseOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VuewBoutiqueInventory</servlet-name>
        <servlet-class>Controller_View.VuewBoutiqueInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBoutiqueInventoryServlet</servlet-name>
        <servlet-class>Controller_View.ViewBoutiqueInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveRejectSubconPOServlet</servlet-name>
        <servlet-class>Controller_Approve.ApproveRejectSubconPOServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSubconInfoServlet</servlet-name>
        <servlet-class>Controller_Json.SetSubconInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetApprovalSubconPOServlet</servlet-name>
        <servlet-class>Controller_Json.SetApprovalSubconPOServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllInventoryServlet</servlet-name>
        <servlet-class>Controller_View.ViewAllInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchWarehouseInv</servlet-name>
        <servlet-class>Controller_Json.searchWarehouseInv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorCatchingServlet</servlet-name>
        <servlet-class>Controller_Base.ErrorCatchingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintAccessoriesInventory</servlet-name>
        <servlet-class>Controller_Print.PrintAccessoriesInventory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintProductionInventory</servlet-name>
        <servlet-class>Controller_Print.PrintProductionInventory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintBoutiqueInventory</servlet-name>
        <servlet-class>Controller_Print.PrintBoutiqueInventory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintWarehouseInventory</servlet-name>
        <servlet-class>Controller_Print.PrintWarehouseInventory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/SearchProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BaseServlet</servlet-name>
        <url-pattern>/BaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetProductIDServlet</servlet-name>
        <url-pattern>/SetProductIDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchItemServlet</servlet-name>
        <url-pattern>/SearchItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetItemServlet</servlet-name>
        <url-pattern>/SetItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSPONumberServlet</servlet-name>
        <url-pattern>/SetSPONumberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSubconNumberServlet</servlet-name>
        <url-pattern>/SetSubconNumberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetConsumptionNumberServlet</servlet-name>
        <url-pattern>/SetConsumptionNumberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFabricItemServlet</servlet-name>
        <url-pattern>/SearchFabricItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetFabricServlet</servlet-name>
        <url-pattern>/SetFabricServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductsSubconServlet</servlet-name>
        <url-pattern>/SearchProductsSubconServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeProductServlet</servlet-name>
        <url-pattern>/EncodeProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeConsumptionReportServlet</servlet-name>
        <url-pattern>/EncodeConsumptionReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSupplierServlet</servlet-name>
        <url-pattern>/SearchSupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchItemSupplierServlet</servlet-name>
        <url-pattern>/SearchItemSupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSupplierItemServlet</servlet-name>
        <url-pattern>/SetSupplierItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeSupplierPurchaseOrderServlet</servlet-name>
        <url-pattern>/EncodeSupplierPurchaseOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveSupplierPurchaseOrderServlet</servlet-name>
        <url-pattern>/ApproveSupplierPurchaseOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveSubconPurchaseOrderServlet</servlet-name>
        <url-pattern>/ApproveSubconPurchaseOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetApprovalSupplierPO</servlet-name>
        <url-pattern>/SetApprovalSupplierPO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveRejectSPOServlet</servlet-name>
        <url-pattern>/ApproveRejectSPOServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSupplierReceivingServlet</servlet-name>
        <url-pattern>/SetSupplierReceivingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSupplierSpecificReceivingServlet</servlet-name>
        <url-pattern>/SetSupplierSpecificReceivingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeSupplierDRServlet</servlet-name>
        <url-pattern>/EncodeSupplierDRServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSubconPOSpecificSerlvet</servlet-name>
        <url-pattern>/SetSubconPOSpecificSerlvet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSubconPOReceivingServlet</servlet-name>
        <url-pattern>/SetSubconPOReceivingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAccessoriesInventoryServlet</servlet-name>
        <url-pattern>/ViewAccessoriesInventoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductionInventoryServlet</servlet-name>
        <url-pattern>/ViewProductionInventoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewWarehouseInventoryServlet</servlet-name>
        <url-pattern>/ViewWarehouseInventoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetInventoryReportServlet</servlet-name>
        <url-pattern>/SetInventoryReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewConsumptionReportServlet</servlet-name>
        <url-pattern>/ViewConsumptionReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSupplierPurchaseOrderServlet</servlet-name>
        <url-pattern>/ViewSupplierPurchaseOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateCuttingReportServlet</servlet-name>
        <url-pattern>/GenerateCuttingReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintConsumptionReport</servlet-name>
        <url-pattern>/PrintConsumptionReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewInventoryReportServlet</servlet-name>
        <url-pattern>/ViewInventoryReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReplenishmentServlet</servlet-name>
        <url-pattern>/ViewReplenishmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDeliveryInvoiceServlet</servlet-name>
        <url-pattern>/ViewDeliveryInvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeInventoryReportServlet</servlet-name>
        <url-pattern>/EncodeInventoryReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeReplenishmentRequestServlet</servlet-name>
        <url-pattern>/EncodeReplenishmentRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeDeliveryInvoiceServlet</servlet-name>
        <url-pattern>/EncodeDeliveryInvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveDeliveryInvoiceSerlvet</servlet-name>
        <url-pattern>/ApproveDeliveryInvoiceSerlvet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSubconPurchaseOrderServlet</servlet-name>
        <url-pattern>/ViewSubconPurchaseOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/Account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSubconServlet</servlet-name>
        <url-pattern>/SearchSubconServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeSubconPurchaseOrderServlet</servlet-name>
        <url-pattern>/EncodeSubconPurchaseOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VuewBoutiqueInventory</servlet-name>
        <url-pattern>/VuewBoutiqueInventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBoutiqueInventoryServlet</servlet-name>
        <url-pattern>/ViewBoutiqueInventoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveRejectSubconPOServlet</servlet-name>
        <url-pattern>/ApproveRejectSubconPOServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSubconInfoServlet</servlet-name>
        <url-pattern>/SetSubconInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetApprovalSubconPOServlet</servlet-name>
        <url-pattern>/SetApprovalSubconPOServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllInventoryServlet</servlet-name>
        <url-pattern>/ViewAllInventoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>

        <servlet-name>searchWarehouseInv</servlet-name>
        <url-pattern>/searchWarehouseInv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorCatchingServlet</servlet-name>
        <url-pattern>/ErrorCatchingServlet</url-pattern>
        <servlet-name>PrintAccessoriesInventory</servlet-name>
        <url-pattern>/PrintAccessoriesInventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintProductionInventory</servlet-name>
        <url-pattern>/PrintProductionInventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintBoutiqueInventory</servlet-name>
        <url-pattern>/PrintBoutiqueInventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintWarehouseInventory</servlet-name>
        <url-pattern>/PrintWarehouseInventory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
