<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BaseServlet</servlet-name>
        <servlet-class>Controller_Base.BaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller_Base.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller_Base.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Controller_Base.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetProductIDServlet</servlet-name>
        <servlet-class>Controller_SetFormNumber.SetProductIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchItemServlet</servlet-name>
        <servlet-class>Controller_Json.SearchItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetItemServlet</servlet-name>
        <servlet-class>Controller_Json.SetItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSPONumberServlet</servlet-name>
        <servlet-class>Controller_SetFormNumber.SetSPONumberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSubconNumberServlet</servlet-name>
        <servlet-class>Controller_SetFormNumber.SetSubconNumberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BaseServlet</servlet-name>
        <url-pattern>/BaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetProductIDServlet</servlet-name>
        <url-pattern>/SetProductIDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchItemServlet</servlet-name>
        <url-pattern>/SearchItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetItemServlet</servlet-name>
        <url-pattern>/SetItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSPONumberServlet</servlet-name>
        <url-pattern>/SetSPONumberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSubconNumberServlet</servlet-name>
        <url-pattern>/SetSubconNumberServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
